/node_modules
/.github/copilot-instructions.md
/cenas.txt
/cenas.md
/DockerCenas
/experiments
.direnv/
/data-test
/apps/client/dist
/apps/linux-client/target
/apps/server/build/out
/apps/server/build/temp
